
.icon-Code:before { content: '\e800'; } /* '' */
.icon-html5:before { content: '\e801'; } /* '' */
.icon-User_N:before { content: '\e802'; } /* '' */
.icon-User_B:before { content: '\e803'; } /* '' */
.icon-location:before { content: '\e804'; } /* '' */
.icon-Home_N:before { content: '\e805'; } /* '' */
.icon-Home_B:before { content: '\e806'; } /* '' */
.icon-Saam:before { content: '\f357'; } /* '' */